# Join Statements - Lab

## Introduction

In this lab, you'll practice your knowledge of join statements, using various types of joins and various methods for specifying the links between them.

## Objectives

You will be able to:
- Write queries that make use of various types of Joins
- Join tables using foreign keys

## CRM Schema

In almost all cases, rather then just working with a single table you will typically need data from multiple tables. 
Doing this requires the use of **joins ** using shared columns from the two tables. 

In this lab, you'll use the same Customer Relationship Management (CRM) database that you saw from the previous lesson.
<img src='images/Database-Schema.png' width="600">

## Connecting to the Database
Import the necessary packages and connect to the database **data.sqlite**.

In [2]:
#Your code here
import sqlite3
conn = sqlite3.Connection('data.sqlite')
c = conn.cursor()

## Display the names of all the employees in Boston.
Hint: join the employees and offices tables.

In [5]:
#Your code here
c.execute("""SELECT firstname, lastname FROM employees JOIN offices USING(officeCode);""").fetchall()

[('Diane', 'Murphy'),
 ('Mary', 'Patterson'),
 ('Jeff', 'Firrelli'),
 ('William', 'Patterson'),
 ('Gerard', 'Bondur'),
 ('Anthony', 'Bow'),
 ('Leslie', 'Jennings'),
 ('Leslie', 'Thompson'),
 ('Julie', 'Firrelli'),
 ('Steve', 'Patterson'),
 ('Foon Yue', 'Tseng'),
 ('George', 'Vanauf'),
 ('Loui', 'Bondur'),
 ('Gerard', 'Hernandez'),
 ('Pamela', 'Castillo'),
 ('Larry', 'Bott'),
 ('Barry', 'Jones'),
 ('Andy', 'Fixter'),
 ('Peter', 'Marsh'),
 ('Tom', 'King'),
 ('Mami', 'Nishi'),
 ('Yoshimi', 'Kato'),
 ('Martin', 'Gerard')]

## Do any offices have no employees?
Hint: Combine the employees and offices tables and use a group by.

In [11]:
#Your code here
c.execute("""SELECT count(employeeNumber) from employees join offices using(officeCode) group 
by officeCode""").fetchall()

[(6,), (2,), (2,), (5,), (2,), (4,), (2,)]

## Write 3 Questions of your own and answer them

In [ ]:
# Answers will vary

In [ ]:
# Your code here

In [ ]:
# Your code here

In [ ]:
# Your code here

## Level Up: Display the names of each product each employee has sold

In [ ]:
# Your code here
c.execute("SELECT * FROM ")

## Level Up: Display the Number of Products each employee has sold

In [ ]:
#Your code here

## Summary

Congrats! You now know how to use join statements, along with leveraging your foreign keys knowledge!